body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Стили для контейнера с пользователями */
ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стили для каждого элемента списка */
li {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px;
    color: #333;
}

li:last-child {
    border-bottom: none; /* Убираем нижнюю границу у последнего элемента */
}

/* Заголовок (имя пользователя) */
strong {
    font-size: 18px;
    color: #007BFF;
}

/* Стили для информации о пользователе */
p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

br {
    margin-bottom: 5px;
}

/* Стили для сообщения, если пользователей нет */
li.no-users {
    text-align: center;
    color: #999;
}

/* Стили для формы */
form {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button:focus {
    outline: none;
}